.header-container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px ;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.main-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lista-footer {
  display: flex;
  /*flex-direction: column;
  flex-wrap: wrap; --> flex flow faz exatamente oq as 2 linha aqui fazem*/ 
  flex-flow: column wrap ;
  height: 120px;
}

.footer-container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px ;
}

.box {
  width: 31.3%;
  margin: 1%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

/*PARTE MOBILE*/
@media(max-width: 768px){

  .header-nav{
    flex-direction: column;
  }

  .header-container .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .footer-container .container{
    flex-direction: column;
  }

  .lista-footer {
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
  }

}
